.mem-page{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

.mem-content{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mem-img{
    margin: 1% auto;
    max-width: 100%;
}

.mem-comments ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.like-img{
    height: 50px;
    width: 70px;
    max-width: 100%;
}

.dislike-img{
    height: 50px;
    width: 70px;
    transform: scale(1, -1);
    max-width: 100%;
}

.mem-like-content{
    display: flex;
    justify-content: space-between;
}

.mem-like-right{
    display: flex;
    padding: 2%;
}

.mem-like-left{
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.mem-button-like{
    max-width: 80px;
    display: flex;
}

.mem-padding-right{
    padding-right: 10%;
}
